/* Profile.css */
.profile-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
  }
  
  .profile-avatar {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .change-avatar-button {
    margin-top: 10px;
    padding: 5px 10px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .profile-info,
  .profile-bio {
    width: 100%;
    max-width: 400px;
    margin-bottom: 20px;
    text-align: left;
  }
  
  .logout-button {
    margin-top: 30px;
    padding: 10px 20px;
    background-color: red;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    width: 150px;
  }
  
  .logout-button:hover {
    background-color: darkred;
  }
  